@model FiboSchool.Src.Dto.TermDto
@{
    Layout = null;
    ViewBag.Title = "Create";
}

<form asp-action="Update" asp-controller="Term" method="post" id="messageModal" class="frmValidation" novalidate>
    @Html.AntiForgeryToken()
    <input asp-for="Id" type="hidden" />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-close-area modal-close-df">
            </div>
            <div class="modal-body">
                <h2>Update Class</h2>
                <div class="form-group-inner">
                    <label>Name</label>
                    <input type="text" asp-for="Name" class="form-control" id="Name" autocomplete="off" placeholder="Enter a Class." required />
                </div>
            </div>

            <div class="modal-footer info-md">
                <a class="btn btn-success" type="submit" data-dismiss="modal" href="#">Cancel</a>
                <button class="btn btn-success" type="submit" href="#">Submit</button>
            </div>
        </div>
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        Array.prototype.filter.call($('.frmValidation'), function (form) {
            $('#btnSubmit').click(function () {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                    form.classList.add('was-validated');
                    return false;
                }
                else {
                    return true;
                }


            });
        });
    });
</script>

