@model FiboUser.Src.ViewModel.AccountViewModel.RecoveryPasswordViewModel
@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>School Result Management System</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="" />
        <meta name="keywords" content="">
        <meta name="author" content="Codedthemes" />

        <link rel="icon" href="~/default/assets/images/favicon.ico" type="image/x-icon">
        <link href="~/default/assets/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <div class="auth-wrapper">
            <div class="auth-content">
                <div class="card">
                    <div class="row align-items-center text-center">
                        <div class="col-md-12">
                            <div class="card-body">
                                <form class="form-horizontal form-material" id="loginform">
                                    <h3 class="box-title m-b-20 text-capitalize">Password Recovery!!!</h3>
                                    <hr />
                                    <p style="font-weight:bold">
                                        Dear <b style="color:red">@Model.Name</b>, <hr />
                                    </p>
                                    <p style="font-family: cursive">

                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your password recovery link has been sent to your gmail (@Model.Email).
                                        Please check your email to reset your password.
                                    </p>
                                    <br /><br />
                                    <p style="text-align:right;font-weight:bold">
                                        -Thank You! <br />
                                        -LK9 Coffee Shop Board
                                    </p>
                                    <hr />
                                    <div class="form-group">
                                        <div class="input-group">
                                            Visit your Gmail &nbsp;&nbsp;&nbsp; <i class="ti-hand-point-right"></i> &nbsp;&nbsp;&nbsp; <a href="https://www.gmail.com" target="_blank">Gmail</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

<!-- Mirrored from codedthemes.com/demos/admin-templates/gradient-able/bootstrap/default/auth-signup.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Nov 2021 06:43:51 GMT -->
</html>
<script src="~/default/assets/js/vendor-all.min.js"></script>
<script src="~/default/assets/js/plugins/bootstrap.min.js"></script>
<script src="~/default/assets/js/waves.min.js"></script>