@model FiboInfraStructure.Entity.FiboOffice.FiscalYear

@{ Layout = null; }


<form asp-action="DeleteConfirmed" asp-controller="FiscalYear">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@Model.Id</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
        </div>
        <div class="modal-body">
            <p style="font-family:Calibri">Are You Sure to Delete @Model.Id?</p>
        </div>
        <div class="modal-footer">
            <div class="btn-group-sm">          
                <button type="submit" class="btn  btn-danger"><i class="ti-trash"></i> Delete Confirm</button>
 <button type="button" class="btn  btn-secondary" data-bs-dismiss="modal"><i class="ti-close"></i> Cancel</button>
            </div>
        </div>
    </div>
</form>